<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<div th:insert="~{fragments/PageFrame :: head('Transfer')}"></div>
<script th:inline="javascript">
    var userCardsEmpty = [[${userCards.isEmpty()}]];
</script>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section text-center font-aquire">
    <h2 class="font-aquire pd-b-1" th:text="#{transaction.page.title.wallet}">Transfer</h2>
    <div style="font-size: 13pt" class="wallet-block">

    <form id="transferForm">
       <div th:unless="${userCards.isEmpty()}">
           <label th:text="#{transfer.card.present.label}">Content</label>
        <br/>
        <select class="simple-input-style w-10" id="cardId">
            <option th:each="card2 : ${userCards}"
                    th:value="${card2.getId()}"
                    th:text="${'**** **** **** '+card2.number.subSequence(12,16)}">
            </option>
        </select>
        <br/>
       </div>
        <label th:text="#{transaction.amount.label}">Content</label>
        <br/>
        <input class="simple-input-style" type="number" id="amount" th:text="BGN">
        <br/><br/>
        <input class="py-3-create w-8 rounded font-aquire" type="submit" value="Send"/>
    </form>
    <br>
        <div th:if="${userCards.isEmpty()}">
            <label th:text="#{transfer.card.not.present.label}">Content</label>
        </div>
        <br/><br/>
        <div class="modal-overlay" id="modalOverlay"></div>
        <div class="modal" id="cardFlyout" style="display: none;">
            <div class="modal-header">
                <span type="button" class="close" data-dismiss="modal">&times;</span>
                <span class="modal-title font-aquire">Enter Card Details</span>
            </div>
            <div class="modal-content">
            <br/>
            <br/>
                <form id="cardForm">
                    <input class="simple-input-style w-10" type="text" id="number" placeholder="Card Number" required><br>
                    <input class="simple-input-style w-10" type="text" id="holder" placeholder="Cardholder Name" required><br>
                    <input class="simple-input-style w-10" type="text" id="cvv" placeholder="Cvv Number" required><br>
                    <input class="simple-input-style w-10" type="text" id="expiryDate" placeholder="Expiry Date (MM/YY)" required><br>
                    <br>
                    <button class="py-3-create w-8 rounded font-aquire" type="submit">Save card</button>
                </form>
            </div>
            </br>
        </div>

        <button class="py-3-create w-8 rounded font-aquire" id="openFlyout">Add Card</button>
    </div>
</section>
<div th:replace="~{/fragments/PageFrame :: scripts}"></div>
</body>
</html>