<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<div th:insert="~{fragments/PageFrame :: head('Transfer')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section text-center font-aquire">
    <h2 class="font-aquire pd-b-1" th:text="#{transaction.page.title.wallet}">Transaction</h2>
    <form action="#" th:action="@{__${requestURI}__}" th:object="${transfer}" method="post">
       <div th:unless="${userCards.isEmpty()}">
        <label th:text="#{transfer.card.present.label}">Content</label>
        <br/>
        <select class="number-input-style w-10" th:field="*{cardId}">
            <option th:each="card2 : ${userCards}"
                    th:value="${card2.getId()}"
                    th:text="${'**** **** **** '+card2.number.subSequence(12,16)}">
                BeerStyleOne
            </option>
        </select>
        <br/>
       </div>
        <div th:unless="${!userCards.isEmpty()}">
            <label th:text="#{transfer.card.not.present.label}">Content</label>
        </div>
        <label class="error" th:errors="*{cardId}">Receiver error placeholder</label>
        <br/><br/>
        <label th:text="#{transaction.amount.label}">Content</label>
        <br/>
        <input class="number-input-style" type="number" th:field="*{amount}" th:text="BGN">
        <br/>
        <label class="error" th:errors="*{amount}">Amount error placeholder</label>
        <br/><br/>
        <input class="py-3-create w-8 rounded font-aquire" type="submit" value="Send"/>
    </form>
    <br>
</section>
<div th:replace="~{/fragments/PageFrame :: scripts}"></div>
</body>
</html>