<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('7WALLET HOME')}"></div>

<body>
<div th:insert="~{fragments/PageFrame :: navbar}"></div>
<section class="home-background">
    <div th:if="${success}" class="success" role="alert">
        <p th:text="${success}"></p>
    </div>
    <div th:if="${error}" class="error-home" role="alert">
        <p th:text="${error}"></p>
    </div>
    <div class="home-container">

            <div class="home-text-block bg-secondary bg-light rounded-3">
                <h1 class="home-text-header" th:text="#{home.block.header.welcome}"></h1>
                <p  class="home-text-content lead" >
                    Utilizing your finances should never be difficult. Whether it's managing your family's budget or sending money abroad
                    , 7Wallet is an online payment service that offers simple and secure ways to perform transactions.
                </p>
            </div>

    </div>
</section>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
<div th:replace="~{fragments/PageFrame :: footer}"></div>
</html>