<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<div th:insert="~{fragments/PageFrame :: head('Transaction')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section text-center font-aquire">
<h2 class="font-aquire pd-b-1" th:text="#{transaction.page.title}">Transaction</h2>
    <p class="font-aquire pd-b-1 font-recommendation" th:text="#{transaction.info.label}">Transaction</p>
    <form action="#" th:action="@{__${requestURI}__}" th:object="${transaction}" method="post">
    <label th:text="#{transaction.receiver.label}">Content</label>
    <br/>
    <input class="textarea-style w-20" type="text" th:field="*{receiver}" placeholder="Username, phone number or email">
    <br/>
    <label class="error" th:errors="*{receiver}">Receiver error placeholder</label>
    <br/><br/>
    <label th:text="#{transaction.amount.label}">Content</label>
    <br/>
    <input class="simple-input-style w-5 marg-l-2em" type="number" th:field="*{amount}" th:text="BGN">
    <br/><br/>
    <label class="error" th:errors="*{amount}">Amount error placeholder</label>
    <br/><br/>
    <input class="py-3-create w-8 rounded font-aquire" type="submit" value="Send"/>
</form>
<br>
</section>
<div th:replace="~{/fragments/PageFrame :: scripts}"></div>
</body>
</html>