<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Transactions')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section">
    <header class="navigate">
        <!-- Masthead Heading-->
        <h1 class="text-uppercase mb-0" th:if="${transactions.isEmpty()}" th:text="#{transactions.page.empty}">No
            transactions found</h1>
        <h1 class="text-uppercase mb-0" th:unless="${transactions.isEmpty()}" th:text="#{transactions.page.title}">All
            Transactions</h1>
    </header>
</section>
<!-- Section 2-->
<section class="py-5">
    <div class="navigate">
        <form action="#" th:action="@{__${requestURI}__}" method="get" th:object="${transactionFilterOptions}">
            <h3 th:text="#{transactions.page.filters.title}">Filter Options</h3>
            <br/><br/>
            <div>
                <input type="text" placeholder="Receiver username" th:field="*{receiver}"/>
                <input type="text" th:field="*{sender}" placeholder="Sender username"/>
                <select th:field="*{direction}">
                    <option value="">Sort Order</option>
                    <option value="INGOING">INGOING</option>
                    <option value="OUTGOING">OUTGOING</option>
                </select>
                <input th:field="*{date}" placeholder="End date EX: 2024-03-13"/>
                <select th:field="*{sortBy}">
                    <option value="">Sort By</option>
                    <option value="amount">Amount</option>
                    <option value="date">Date</option>
                </select>
                <select th:field="*{sortOrder}">
                    <option value="">Sort Order</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
            <br/><br/>

            <input class="py-3-create rounded" type="submit" value="Search"/>
        </form>
    </div>
    <div class="table text-center">
        <div class="table-head">
            <div class="table-header-cell">Transaction #</div>
            <div class="table-header-cell">Sender</div>
            <div class="table-header-cell">Receiver</div>
            <div class="table-header-cell">Amount</div>
            <div class="table-header-cell">Direction</div>
            <div class="table-header-cell">Date</div>
        </div>
        <div class="table-row" th:each="transaction : ${transactions}">
            <!-- Post details-->
            <div class="cell">
                <a href="#" th:href="@{/users/transactions/__${transaction.id}__}">
                    <span class="cell-linebreak" th:text="${transaction.id}"></span></a>
                <br>
            </div>
            <div class="cell">
                    <span class="cell-linebreak" th:text="${transaction.sender.username}"></span></a>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:text="${transaction.receiver.username}"></span>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:text="${transaction.amount}"></span>
                <br>
            </div>
            <div class="cell">
                <span th:unless="${transaction.receiver==currentUser}" class="cell-linebreak" th:text="OUTGOING"></span>
                <span th:unless="${transaction.sender==currentUser}" class="cell-linebreak" th:text="INGOING"></span>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:text="${transaction.date.toLocalDate()}"></span>
                <br>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>