<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Transactions')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section">
    <header class="navigate">
        <!-- Masthead Heading-->
        <h1 class="text-uppercase mb-0 font-aquire" th:text="#{transactions.page.title}">All
            Transactions</h1>
    </header>
</section>
<!-- Section 2-->
<section class="py-5">
    <div class="navigate">
        <form action="#" th:action="@{__${requestURI}__}" method="get" th:object="${transactionFilterOptions}">
            <h3 class="font-aquire" th:text="#{transactions.page.filters.title}">Filter Options</h3>
            <br/><br/>
            <div>
                <input class="simple-input-style w-8" type="text" placeholder="Receiver username" th:field="*{receiver}"/>
                <input class="simple-input-style w-8" type="text" th:field="*{sender}" placeholder="Sender username"/>
                <input class="simple-input-style w-8" th:field="*{date}" placeholder="Date EX: 2024-03-13"/>
                <select class="simple-input-style w-8" th:field="*{direction}">
                    <option value="">Direction</option>
                    <option value="INGOING">INGOING</option>
                    <option value="OUTGOING">OUTGOING</option>
                </select>
                <select class="simple-input-style w-8" th:field="*{sortBy}">
                    <option value="">Sort By</option>
                    <option value="amount">Amount</option>
                    <option value="date">Date</option>
                </select>
                <select class="simple-input-style w-8" th:field="*{sortOrder}">
                    <option value="">Sort Order</option>
                    <option value="asc">Ascending</option>
                    <option value="desc">Descending</option>
                </select>
            </div>
            <br/><br/>
            <input class="py-3-create rounded font-aquire" type="submit" value="Search"/>
            <button class="py-3-create rounded font-aquire">
                <a style="color: red" href="#" th:href="@{/wallet/transactions/new}"
                   th:text="#{transaction.new.label}">New transaction</a>
            </button>
            <br/>
        </form>
    </div>
    <div th:if="${transactions != null and not #lists.isEmpty(transactions)}">
    <div class="table text-center">
        <div class="table-head font-aquire">
            <div class="table-header-cell">Transaction #</div>
            <div class="table-header-cell">Sender</div>
            <div class="table-header-cell">Receiver</div>
            <div class="table-header-cell">Amount</div>
            <div class="table-header-cell" th:unless="isAdmin">Direction</div>
            <div class="table-header-cell">Date</div>
            <div class="table-header-cell">Status</div>
        </div>
        <div class="table-row" th:each="transaction : ${transactions}">
            <!-- Transaction details-->
            <div class="cell">
                    <span style="color: red; font-weight: bold" class="cell-linebreak" th:text="${transaction.id}"></span></a>
                <br>
            </div>
            <div class="cell">
                    <span class="cell-linebreak" th:text="${transaction.sender.username}"></span></a>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:text="${transaction.receiver.username}"></span>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:text="${transaction.amount}"></span>
                <br>
            </div>
            <div class="cell" th:unless="isAdmin">
                <span th:unless="${transaction.receiver==currentUser}" class="cell-linebreak" th:text="OUTGOING"></span>
                <span th:unless="${transaction.sender==currentUser}" class="cell-linebreak" th:text="INGOING"></span>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:text="${transaction.date.toLocalDate()}"></span>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:if="${transaction.isConfirmed() and transaction.getAmount() >= 1000}" th:text="#{transaction.is.confirmed.label}"></span>
                <span class="cell-linebreak" th:if="${!transaction.isConfirmed() and transaction.getAmount() >= 1000}" th:text="#{transaction.is.unconfirmed.label}"></span>
                <span class="cell-linebreak" th:if="${transaction.getAmount() < 1000}" th:text="#{transaction.is.confirmed.label}"></span>
                <br>
            </div>
        </div>
        <br>
        <div class="pagination">
            <ul>
                <li th:if="${currentPage > 0}">
                    <a th:href="@{/users/transactions(page=${currentPage - 1})}">Previous</a>
                </li>
                <th:block th:if="${lastPage > 0}" th:each="pageNumber : ${#numbers.sequence(0, lastPage)}">
                    <li th:class="${pageNumber == currentPage ? 'active' : ''}">
                        <a th:href="@{/users/transactions(page=${pageNumber})}" th:text="${pageNumber + 1}"></a>
                    </li>
                </th:block>
                <li th:unless="${lastPage == currentPage}">
                    <a th:href="@{/users/transactions(page=${currentPage + 1})}">Next</a>
                </li>
            </ul>
        </div>
        </div>
    </div>
        <br/>
        <br/>
    <div class="centered-error font-aquire" th:if="${error}" th:text="${error}">No records with filter</div>
</section>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>