<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('User')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<div class="user-block">
    <div class="user-leftside">
        <br/>
        <div th:unless="${viewedUser.getProfilePhoto()==null}">
            <img class="user-photo" th:src="${viewedUser.getProfilePhoto().profilePhoto}" alt="Picture"/>
        </div>
        <div th:if="${viewedUser.getProfilePhoto()==null}">
            <img class="user-photo"
                 src="https://w0.peakpx.com/wallpaper/979/89
      /HD-wallpaper-purple-smile-design-eye-smily-profile-pic-face-thumbnail.jpg" alt="Picture"/>
        </div>
        <br/>
        <a th:if="${session.currentUser == viewedUser.getUsername()}" href="#" th:href="@{/users/__${viewedUser.getUsername()}__/update}">
            <div class="user-button" >Update Profile</div></a>
        <br/>
        <a  th:if="${session.currentUser == viewedUser.getUsername()}" href="#" th:href="@{/users/__${viewedUser.getUsername()}__/changeProfilePhoto}">
            <div class="user-button" >Change Profile Photo</div></a>
        <br/>
        <a  th:if="${session.currentUser == viewedUser.getUsername()}" href="#" th:href="@{/users/__${viewedUser.getUsername()}__/changePassword}">
            <div class="user-button" >Change Password</div></a>
        <br/>
        <a  th:if="${session.isAdmin && !isBlocked}" href="#" th:href="@{/users/__${viewedUser.getUsername()}__/block}">
            <div class="user-button" >Block User</div></a>
        <br/>
        <a  th:if="${session.isAdmin && isBlocked}" href="#" th:href="@{/users/__${viewedUser.getUsername()}__/unblock}">
            <div class="user-button" >Unblock User</div></a>
        <br/>
        <div class="user-info">
            <a href="#" th:href="@{/users/__${viewedUser.getId()}__}">
                <h2 class="center" th:text="${viewedUser.username}"></h2></a>
            <hr>
            <h3 class="center" th:text="${viewedUser.firstName}"></h3>
            <hr>
            <h3 class="center" th:text="${viewedUser.lastName}"></h3>
            <hr>
            <h3 class="center" th:text="${viewedUser.email}"></h3>
            <br/>
        </div>
    </div>
    <div th:if="${userId == viewedUser.getId()}" class="user-rightside">
        <h2 class="font-aquire pd-b-1" style="font-size: 40pt" th:text="#{wallets}">Wallets</h2>
       <div  class="user-wall">
               <div style="font-size: 20pt" class="wallet-block">
                   <br/>
                   <a href="#" th:href="@{/wallet}">
                   <h2 class="font-aquire" th:text="${viewedUser.getWallet().getName()}"></h2></a>
                   <br/>
                   <label style="font-weight: bold" th:text="#{holdings}">Holdings</label>
                   <br/><br/>
                   <span th:text="${viewedUser.getWallet().getHoldingsByRating()}"></span>
                   <span th:text="${viewedUser.getWallet().getCurrency().getCurrencyCode()}"></span>
                   <br/><br/>
               </div>

           <div th:each="wallet : ${userJoinWallets}">
               <div style="font-size: 20pt" class="wallet-block">
                   <br/>
                   <a href="#" th:href="@{/join wallet/__${wallet.getId()}__}">
                       <h2 class="font-aquire" th:text="${wallet.getName()}"></h2></a>
                   <br/>
                   <label style="font-weight: bold" th:text="#{holdings}">Holdings</label>
                   <br/><br/>
                   <span th:text="${wallet.getHoldingsByRating()}"></span>
                   <span th:text="${wallet.getCurrency().getCurrencyCode()}"></span>
                   <br/><br/>
               </div>
           </div>
       </div>
    </div>
</div>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>

</body>

</html>