<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Update Password')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section ">
    <div class="h1 center font-aquire"  th:text="#{user.label.change.photo}">Change Profile Photo</div>
    <br/>
    <div class="center ">

        <br/>
        <br/>
        <div class="update-photo-container">
            <form class="textarea-style" style="width: 75%" action="#" th:action="@{__${requestURI}__}" method="post" enctype="multipart/form-data">
                <input type="file" name="avatar"/>
                <div class="error" th:if="${avatarError}" th:text="${avatarError}">File error</div>
                <br/>
                <button class="py-3-create rounded" type="submit">Save</button>
            </form>

        </div>

    </div>
</section>

<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>