<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('All users')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section">
    <header class="navigate">
        <!-- Masthead Heading-->
        <h1 class="text-uppercase mb-0 font-aquire" th:if="${allUsers.isEmpty()}" th:text="#{user.title.empty}">No
            Users</h1>
        <h1 class="text-uppercase mb-0 font-aquire" th:unless="${allUsers.isEmpty()}" th:text="#{user.title.all}">All
            Users</h1>
    </header>
</section>
<!-- Section 2-->
<section class="py-5">
    <div class="navigate">
        <form action="#" th:action="@{/users}" method="get" th:object="${userFilterOptionsDto}">
            <h3 class="font-aquire" th:text="#{user.filter.label}">Filter Options</h3>
            <br/><br/>
            <div>
                <input class="simple-input-style" type="text" placeholder="Username" th:field="*{username}"/>
                <input class="simple-input-style" type="text" placeholder="Email" th:field="*{email}"/>
                <input class="simple-input-style" type="text" placeholder="Phone Number" th:field="*{phoneNumber}" />
            </div>
            <br/><br/>

            <input class="py-3-create rounded font-aquire" type="submit" value="Search"/>
        </form>
    </div>
    <div class="table text-center">
        <div class="table-head font-aquire">
            <div class="table-header-cell">Username</div>
            <div class="table-header-cell">Email</div>
            <div class="table-header-cell">Phone</div>
            <div class="table-header-cell">Block/Unblock</div>
        </div>
        <div class="table-row" th:each="usertable : ${allUsers}">
            <div class="cell">
                <a href="#" th:href="@{/users/__${usertable.getUsername()}__}">
                    <span class="cell-linebreak" th:text="${usertable.getUsername()}"></span></a>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:text="${usertable.getEmail()}"></span>
                <br>
            </div>
            <div class="cell">
                <span class="cell-linebreak" th:text="${usertable.getPhoneNumber()}"></span>
                <br>
            </div>
            <div class="cell">
                <a class="cell-linebreak users-button"
                   href="#"
                   th:if="${session.isAdmin && !usertable.isBlocked()}"
                   th:href="@{/users/__${usertable.getUsername()}__/block}">Block</a>
                <a class="cell-linebreak users-button"
                   th:if="${session.isAdmin && usertable.isBlocked()}"
                   href="#"
                   th:href="@{/users/__${usertable.getUsername()}__/unblock}">Unblock</a>
                <br>
            </div>
        </div>
    </div>
</section>
<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>

</html>