<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:insert="~{fragments/PageFrame :: head('Update Password')}"></div>
<body>
<div th:replace="~{fragments/PageFrame :: navbar}"></div>
<section class="page-section ">
    <div class="h1 center font-aquire"  th:text="#{change.password.page.label}">Change password</div>
    <br/>
    <div class="center ">

    <br/>
    <br/>
    <form class="outline login-container" action="#" th:action="@{__${requestURI}__}" th:object="${userPasswordDto}" method="post">
        <label class="font-aquire" th:text="#{user.label.password}">Password</label>
        <br/>
        <input type="password" th:field="*{password}"/>
        <div class="error error-login" th:errors="*{password}">Password error placeholder</div>
        <br/>
        <label class="font-aquire" th:text="#{user.label.confirm.password}">Confirm Password</label>
        <br/>
        <input type="password" th:field="*{passwordConfirm}"/>
        <div class="error error-login" th:errors="*{passwordConfirm}">Password Confirm error placeholder</div>
        <br/>
        <div class="login-button">
            <input class="py-3 rounded" type="submit" value="Save"/>
        </div>
    </form>

    </div>
</section>

<div th:replace="~{fragments/PageFrame :: scripts}"></div>
</body>
</html>